/ResguardoApp/obj
/ResguardoApp/bin
/ResguardoApp/obj
/ResguardoApp/.vs
/ResguardoApp/obj
ResguardoApp/obj/ResguardoApp.csproj.nuget.g.targets

.fake
/ResguardoApp/obj
ResguardoApp/obj/Debug/net6.0-windows/ResguardoApp.AssemblyInfo.cs
ResguardoApp/obj/Debug/net6.0-windows/ResguardoApp.AssemblyInfoInputs.cache
ResguardoApp/obj/Debug/net6.0-windows/ResguardoApp.assets.cache
ResguardoApp/obj/project.assets.json
ResguardoApp/obj/project.nuget.cache
ResguardoApp/obj/ResguardoApp.csproj.nuget.dgspec.json
ResguardoApp/obj/ResguardoApp.csproj.nuget.g.props
/ResguardoAppService/.vs
/ResguardoAppService/bin
/ResguardoApp/obj
/ResguardoApp/obj/Debug
/ResguardoAppService/obj
ResguardoAppService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ResguardoAppService/obj/Debug/ResguardoAppService.csproj.CoreCompileInputs.cache
/.vs
/.vs
/SharedLib/obj
/SharedLib/bin
/.vs
/.vs
/.vs
/SharedLib/obj
SharedLib/obj/Debug/net8.0/SharedLib.assets.cache
SharedLib/obj/Debug/net8.0/SharedLib.csproj.AssemblyReference.cache
SharedLib/obj/Debug/net8.0/SharedLib.csproj.CoreCompileInputs.cache
SharedLib/obj/Debug/net8.0/SharedLib.dll
SharedLib/obj/Debug/net8.0/SharedLib.pdb
SharedLib/obj/Debug/net8.0/SharedLib.sourcelink.json
SharedLib/obj/project.assets.json
SharedLib/obj/project.nuget.cache
SharedLib/obj/SharedLib.csproj.nuget.dgspec.json
ResguardoApp/obj/project.assets.json
ResguardoApp/MainForm.Designer.cs
.vs/ResguardoWinForms/v17/DocumentLayout.json
.vs/ResguardoWinForms/v17/DocumentLayout.backup.json
.vs/ResguardoWinForms/v17/.suo
.vs/ResguardoWinForms/v17/.futdcache.v2
.vs/ResguardoWinForms/DesignTimeBuild/.dtbcache.v2
.vs/ResguardoWinForms/CopilotIndices/17.13.444.19527/SemanticSymbols.db
.vs/ResguardoWinForms/CopilotIndices/17.13.444.19527/CodeChunks.db
.vs/ProjectEvaluation/resguardowinforms.strings.v9.bin
.vs/ProjectEvaluation/resguardowinforms.projects.v9.bin
.vs/ProjectEvaluation/resguardowinforms.metadata.v9.bin
/SharedLib/bin
